<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{author.first_name}} {{author.last_name}} Details</title>
    <style>
        .container,
        .row {
            padding: 1%;
        }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <ul class="navbar-nav mr-auto">
            <li class="navbar-brand">
                <a class="nav-link" href="/">Books</a>
            </li>
            <li class="navbar-brand">
                <a class="nav-link" href="/authors">Authors</a>
            </li>
        </ul>
    </nav>
    <div class="container">
        <h1 class="display-4">{{author.first_name}} {{author.last_name}} Details</h1>
        <div class="row">
            <h5>ID: </h5>
            <p>{{author.id}}</p>
        </div>
        <div class="row">
            <h5>Notes: </h5>
            <p>{{author.notes}}</p>
        </div>
            <h5>Books: </h5>
            <ul>
                {% for book in author_books %}
                <li class="list-group-item"><a href="../books/{{book.id}}">{{book.title}}</a></li>
                {% endfor %}
            </ul>
        <div class="row">
            <form>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Link a Book
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        {% for book in all_books %}
                        <a href="/addauthortobook/{{author.id}}/{{book.id}}" class="dropdown-item">{{book.title}}</a>
                        {% endfor %}
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>