<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{book.title}} Details</title>
    <style>
        .container-fluid,
        .row {
            padding: 1%;
        }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</head>

<body>
    <nav class = "navbar navbar-expand-lg navbar-light bg-light">
        <ul class="navbar-nav mr-auto">
            <li class="navbar-brand">
                <a class="nav-link" href="/">Books</a>
            </li>
            <li class="navbar-brand">
                <a class="nav-link" href="/authors">Authors</a>
            </li>
        </ul>
    </nav>
    <div class="container">
        <h1 class="display-4">{{book.title}}</h1>
        <div class="row">
            <h5>ID:</h5>
            <p>{{book.id}}</p>
        </div>
        <div class="row">
            <h5>Description:</h5>
            <p>{{book.desc}}</p>
        </div>
            <h5>Authors:</h5>
            <ul>
                {% for author in book_authors %}
                <li class="list-group-item"><a href="../authors/{{author.id}}">{{author.first_name}} {{author.last_name}}</a></li>
                {% endfor %}
            </ul>
        <div class="row">
            <form>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Link an Author
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        {% for author in all_authors %}
                        <a href="/addbooktoauthor/{{author.id}}/{{book.id}}" class="dropdown-item">{{author.first_name}} {{author.last_name}}</a>
                        {% endfor %}
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>